/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/discord.xml
/.idea/milk_service.iml
/.idea/misc.xml
/.idea/modules.xml
/.env
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/milk-service.iml
/apps/authentication/migrations/0001_initial.py
