# .idea files
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/discord.xml
/.idea/milk_service.iml
/.idea/misc.xml
/.idea/modules.xml
/.env
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/milk-service.iml

/db.sqlite3
/db_old.sqlite3
/logs.log
